<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>
	<!-- <plugins> -->
	<!-- 分页插件 -->
	<!-- <plugin interceptor="com.box.tei.util.page.PageHelper"> <property name="dialect" 
		value="mysql" /> </plugin> -->

	<!-- <plugin interceptor="com.box.base.page.PageHelper"> <property name="dialect" 
		value="mysql" /> </plugin> -->

	<!-- <plugin interceptor="com.box.tei.intercepter.SqlInterceptor"> </plugin> -->
	<!-- </plugins> -->

</configuration>
